*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat';
}
.header{
    background-color: #ff4c68;
    color: black;
    line-height: 120px;
    padding-left: 30px;
}
.logout{
    float:right;
    padding-right: 30px;
}
ul{
    background-color:gray; width: 15%; height:100%; position:fixed; text-align:center; padding-top:5%; padding-right: 30px;
}
ul li{
    list-style: none;padding-bottom: 30px; font-size: 20px;
}
ul li a{
    color:white; font-weight:bold; text-decoration: none;
}
ul li a:hover{
    color:black; font-weight:bold; text-decoration: none;
}
.content{
    
    margin-left: 37%;
    margin-top: 5%;
}
